* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
	font-family: "Work Sans", sans-serif;
}

.tlsft-menu {
    display: flex;
    justify-content: space-between;
    margin: 30px 36px;

    &-content{
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__group{
        display: flex;
        padding-left: 23px;
        border-left: 2px solid rgba(255, 255, 255, 0.5);

        li {
            list-style-type: none;
            padding-right: 23px;
            display: inline;

            a {
                color: white; 
                text-decoration: none;
                font-family: sans-serif;
            }
        }
    }

    &__burger {
        display: none;
        position: absolute;
        right: 20px;
    }
}

.tlsft-menuformobile-black {
    background: black;
    position: fixed;
    flex-direction: column;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    padding: 131px 56px 0px 36px; 

    .tlsft-menu__close {
        position: absolute;
        top: 30px;
        right: 36px;
    }

    li {
        padding-bottom: 31px;
        list-style-type: none;

        a {
            color: white;
            text-decoration: none;
        }
    }
    .tlsft-menu__group1 {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: 31px;
        padding-top: 30px;
    }
}



.tlsft-menuformobile-form {
    background-color: white;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    .tlsft-menuformobile-header {
        background-color: #F2F2F2;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 20px 36px;

        h2 {
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            color: #252527;
            margin: 0;
        }

    }
    .tlsft-menuformobile-body {
        margin: 30px 36px 30px 36px;

        form {

            input {
                width: 100%;
                border: 1px solid #D7D7D7;
                font-size: 40px;
            }
            p {
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 19px;
                color: #606060;
            }
        }
        button {
            background-color: #FF6800;
            width: 100%;
            height: 60px;
            margin-top: 50px;
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            border: none;
        }

        .cancel {
            background-color: #E6E6E6; 
            color: #343439;
            margin-top: 15px;
        }
    }
}

// .tlsft-login-form {
//     background: rgba(0, 0, 0, 0.6);
//     width: 100%;
//     height: 1000px;
//     display: flex;
//     justify-content: center;

//     .tlsft-menuforlogin-form { 
//         background-color: white;
//         width: 694px;
//         height: 540px;
        
//         .tlsft-menuformobile-header {

//             background-color: #F2F2F2;
//             width: 100%;
//             height: 80px;
//             display: flex;
//             justify-content: space-between;
//             padding: 20px 36px;

//             h2 {
//                 font-weight: normal;
//                 font-size: 36px;
//                 line-height: 42px;
//                 color: #252527;
//                 margin: 0;
//             }

//         }
//         .tlsft-menuformobile-body {
//             margin: 30px 36px 30px 36px;

//             form {

//                 input {
//                     width: 100%;
//                     border: 1px solid #D7D7D7;
//                     font-size: 40px;
//                 }
//                 p {
//                     font-weight: normal;
//                     font-style: normal;
//                     font-size: 16px;
//                     line-height: 19px;
//                     color: #606060;
//                 }
//             }
//             button {
//                 background-color: #FF6800;
//                 width: 100%;
//                 height: 60px;
//                 margin-top: 50px;
//                 font-size: 20px;
//                 font-weight: 600;
//                 line-height: 23px;
//                 text-align: center;
//                 color: #FFFFFF;
//                 border: none;
//             }

//             .cancel {
//                 background-color: #E6E6E6; 
//                 color: #343439;
//                 margin-top: 15px;
//             }
//         }
//     }
// }

@media all and (max-width: 800px) {

    .tlsft-menu__burger {
        display: inline;
    }

    .tlsft-menuformobile-form.open {
        display:block;
    }

    .tlsft-menuformobile-black.open {
        display: flex;
    }

    .tlsft-menu-content {
        display: none;
    }
}