* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: grey;
}

.tlsft-menu {
    display: flex;
    justify-content: space-between;
    margin: 26px 33px;
}

.tlsft-menu-content {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;

    .tlsft-menu__group {
        display: flex;
        a {
            padding-right: 23px;
            color: white; 
            text-decoration: none;
            font-family: sans-serif;
        }
    }
    .tlsft-menu__group {
        .tlsft-menu__group1 {
            a {
                padding-left: 23px;
                border-left: 5px solid white;
            }
        }
    }
}

.tlsft-menuformobile-black {
    background: black;
    position: fixed;
    flex-direction: column;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    padding: 131px 56px 0px 56px; 

    .tlsft-menu--close {
        position: absolute;
        top: 20px;
        right: 80px;
    }

    a {
        color: white;
        text-decoration: none;
        padding-bottom: 31px;
    }
    .tlsft-menu__group1 {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: 31px;
        padding-top: 30px;
    }
}

.tlsft-menu--burger {
    display: none;
    position: absolute;
    right: 20px;
}

@media all and (max-width: 800px) {

    .tlsft-menu--burger {
        display: inline;
    }

    .tlsft-menuformobile-black {
        display: flex;
    }

    .tlsft-menu--close {
        display: inline;
    }

    .tlsft-menu-content {
        display: none;
    }
}