body {
    margin: 0;
    background-color: grey;
}

.tlsft-menu {
    display: flex;
    justify-content: space-between;
    margin: 26px 33px;
}

.tlsft-menu-content {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;

    .tlsft-menu__group {
        display: flex;
        a {
            padding-right: 23px;
            color: white; 
            text-decoration: none;
            font-family: sans-serif;
        }
    }
    .tlsft-menu__group {
        .tlsft-menu__group1 {
            a {
                padding-left: 23px;
                border-left: 5px solid white;
            }
        }
    }
}

.tlsft-menu--burger {
    display: none;
}

@media all and (max-width: 800px) {

    .tlsft-menu--burger {

        display: inline;

    }
    .tlsft-menu-content {
        display: none;
    }
}