#accordion {
	margin:  0 35px;
	max-width: 1223px;
}

.accordion {
	background-color: #343439;
	color: white;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 15px;
	transition: 0.4s;
	margin: 10px 0;
	
		h1 {
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 42px;
		}
}

.active, .accordion:hover {
	background-color: #FF6800; 
}
  
.panel {
	padding: 22px 21px 20px 19px;
	background-color: white;
	overflow: hidden;
	display: none;
}

.panel-active {
	display: block;
}

.button-active {
	background-color: #FF6800; 

	i {
		background-image: url("assets/arrowUp.svg");
	}
}

button {
	position: relative;
	display: flex;
	justify-content: space-between;

		i {
			background-image: url("assets/arrowDown.svg");
			width: 18px;
			height: 9px;
			display: block;
		}
}

@media only screen and (max-width: 800px) { 
	
		.fa {
			display: none;
		}
		#accordion {
			margin: 0 35px;
		}
}
