body {
    background: #343439;
    h1 {
        color: white;
        font-size: 72px;
        font-style: normal;
        font-weight: normal;
    }
}

.container {
	margin: 0 auto; 
	max-width: 1223px;
}

.grid {
    .row {
        display: flex;

        .telesoftas {
            background: #FF6800;
            height: 369px;
            display: flex;
            justify-content: center;
        }
        .yellowDog {
            display: flex;
            justify-content: center;
            background-color: #FAB31B;
        }
        .aon {
            display: flex;
            justify-content: center;
            background-color: #E21A22;

        }
        .viavi {
            background:#502874;
            display: flex;
            justify-content: center;
            height: 369px;
        }
        .tele2 {
            background: #FFFFFF;
            display: flex;
            justify-content: center;
            height: 369px;
        }
        .onTheDot {
            height: 369px;
            display: flex;
            justify-content: center;
            background: #00A871;
        }
        .gameOn {
            height: 369px;
            display: flex;
            justify-content: center;
            background: #E01B4D;
        }
    }
}

.fg1 {
    width: 33%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.fg2 {
    width: 66%;
    margin-right: 10px;
}
