body {
    margin: 0;
}
.container {
	margin: 0 auto; 
    max-width: 1223px;
    h1 {
        font-family: "Work Sans";
        font-size: 36px;
        line-height: 42px;
        font-weight: normal;
    }
}

iframe {
   width: 100%;
   height:  738px;
}

@media all and (max-width: 1223px) {
    iframe {
        height: calc(60vw - 70px);
    }
    .container {
		margin: 0 35px;
	}
}